
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
    <link href="~/Scripts/layui-v2.5.7/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/layui-v2.5.7/layui-v2.5.7/layui/layui.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        .layui-row tr td {
            width: 85px;
            height: 30px;
            border: 1px solid #d7d3d3;
        }
    </style>
</head>
<body>

    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show"></div>
        <div class="layui-tab-item"></div>
        <div class="layui-tab-item"></div>
        <div class="layui-tab-item"></div>
        <div class="layui-tab-item"></div>
        <div class="layui-tab-item"></div>
        @*入库报表*@
        <div class="tab-content">
            <div class="layui-col-xs6" style="margin-left:500px">
                <div class="">
                    <div class="widget-title">
                        <h3><i class="icon-reorder"></i>产品入库排行</h3>
                    </div>
                    <div class="layui-col-xs11">
                        <div class="layui-form">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="150">
                                    <col width="200">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>时间</th>
                                        <th>数量</th>
                                        <th>金额</th>
                                    </tr>
                                </thead>
                                <tbody id="tb2"> </tbody>
                            </table>
                            <input type="button" class="btn btn-default" id="btnBack" value="上一页" />
                            <input type="button" class="btn btn-default" id="btnNext" value="下一页" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs11" style="margin-top:40px;margin-left:60px;">
            <table class="layui-table" id="tabInfo">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">入库单号</th>
                        <th class="hidden-480">日期</th>
                        <th class="hidden-480">供应商名称</th>
                        <th class="hidden-480">总数</th>
                        <th class="hidden-480">总价</th>
                        <th class="hidden-480">明细</th>
                    </tr>
                </thead>
                <tbody id="tb1">
                </tbody>
            </table>
            <div id="demo7">
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" data-remote="/home/test" style="margin-right:260px; margin-top:100px;">
        <div class="modal-dialog">
            <div class="modal-content" style="width:900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center; font-size:20px;">入库单详情</h4>
                </div>
                <div class="modal-body" style="height:460px;">
                    <div class="layui-row" id="ById">
                        <table>
                            <tr class="layui-col-xs12">
                                <td><strong>&nbsp;入库单号</strong></td>
                                <td style="width:204px; text-align:center" id="txtreceiptNum"></td>
                                <td><strong>&nbsp;类型</strong></td>
                                <td style="width:204px; text-align:center" id="txtreceiptTypeNum"></td>
                                <td><strong>&nbsp;状态</strong></td>
                                <td style="width:204px; text-align:center" id="txtexamineState"></td>
                            </tr>
                            <tr class="layui-col-xs12">
                                <td><strong>&nbsp;供应商编号</strong></td>
                                <td style="width:204px; text-align:center" id="txtsupplierNum"></td>
                                <td><strong>&nbsp;供应商名称</strong></td>
                                <td style="width:204px; text-align:center" id="txtsupplierName"></td>
                                <td><strong>&nbsp;联系人</strong></td>
                                <td style="width:204px; text-align:center" id="txtLoginName"></td>
                            </tr>
                            <tr class="layui-col-xs12">
                                <td><strong>&nbsp;关联订单号</strong></td>
                                <td style="width:204px; text-align:center" id="txtorderNo"></td>
                                <td><strong>&nbsp;创建人</strong></td>
                                <td style="width:204px; text-align:center" id="txtygNumber"></td>
                                <td><strong>&nbsp;创建时间</strong></td>
                                <td style="width:204px; text-align:center" id="txtcreateTime"></td>
                            </tr>
                            <tr class="layui-col-xs12">
                                <td><strong>&nbsp;电话</strong></td>
                                <td style="width:204px; text-align:center" id="txtphone"></td>
                                <td><strong>&nbsp;备注</strong></td>
                                <td colspan="3" style="width:493px; text-align:center" id="txtcontents"></td>
                            </tr>
                            <tr class="layui-col-xs12">
                                <td><strong>&nbsp;审核备注</strong></td>
                                <td colspan="4" style="width:782px; text-align:center" id="txtOperationMode"></td>
                            </tr>
                        </table>
                        <table class="layui-table" id="tabInfo">
                            <thead>
                                <tr class="widget-title">
                                    <th class="hidden-480">产品名称</th>
                                    <th class="hidden-480">产品条码</th>
                                    <th class="hidden-480">规格</th>
                                    <th class="hidden-480">批次</th>
                                    <th class="hidden-480">单价</th>
                                    <th class="hidden-480">入库数</th>
                                    <th class="hidden-480">总价</th>
                                    <th class="hidden-480">库位</th>
                                </tr>
                            </thead>
                            <tbody id="tb3"> </tbody>
                        </table>
                        <div style="float:right;">
                            <input type="button" class="btn btn-default" id="btnBack1" value="上一页" />
                            <input type="button" class="btn btn-default" id="btnNext1" value="下一页" />
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
            $(function () {
                Page(1, 10);
                getrows();
                PageList();
                ById();
                PageList1();
            });
        var pageCount = 0;
        var rows = 0;

        function time(op) {
            var date = new Date(parseInt(op.substr(6)));
            return date.toLocaleDateString();
        }
            //查询
            function Page(pindex, psize) {
                $.ajax({
                    type: "post",
                    url: "/HLL/Page3",
                    data: "{pageIndex:" + pindex + ",pagesize:" + psize + "}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        pageCount = result.PageCount;
                        $("#tb1 tr").remove();
                        $.each(result.Datalist, function (index, data) {
                            $("#tb1").append("<tr><td>" + data.receiptNum + "</td><td>" + time(data.Probarcode) + "</td><td>" + data.supplierName + "</td><td>" + data.totalNum + "</td><td>" + data.totalAmount + "</td><td><input type='button' value='查看' data-toggle='modal' data-target='#myModal' onclick='return ById(&quot;" + data.receiptNum +"&quot;)'></td><tr>");
                        });
                    },
                    error: function (ex) {
                        $("Error" + ex.responseText);
                    }
                });
            }
            //总条数
            function getrows() {
                $.ajax({
                    type: "post",
                    url: "/HLL/getRow3",
                    data: "{}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        //获取总条数；
                        rows = result;
                        layui.use(['laypage', 'layer'], function () {
                            var laypage = layui.laypage
                                , layer = layui.layer;

                            //完整功能版
                            laypage.render({
                                elem: 'demo7'
                                , count: rows
                                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                                , jump: function (obj, frist) {
                                    if (!frist) {
                                        //调用自己分页的方法
                                        Page(obj.curr, obj.limit);
                                    }
                                }
                            });
                        });
                    },
                    error: function (ex) {
                        $("Error" + ex.responseText);
                    }
                });
            }
            //产品入库排行
        var pageIndex = 1;
        var pageSize = 5;
        var pageCount = 0;
        $(function () {
            PageList();
            $("#btnBack").click(function () {
                pageIndex--;
                PageList();
            });
            $("#btnNext").click(function () {
                pageIndex++;
                PageList();
            });
        });
        function PageList() {
            $.ajax({
                type: "post",
                url: "/HLL/Put1",
                data: "{pageIndex:" + pageIndex + ",pageSize:" + pageSize + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    pageCount = result.pageCount;
                    $("#tb2 tr").remove();
                    $.each(result.Datalist, function (index, data) {
                        $("#tb2").append("<tr><td>" + data.receiptNum + "</td><td>" + time(data.CreateTime) + "</td><td>" + data.productCount + "</td><td>" + data.totalMoney + "</td><tr>");
                    });
                }, error: function (ex) {
                    $("Error" + ex.responseText);
                }
            });
        }

        //根据ID查询
        //根据用户编号进行查询
        function ById(receiptNum) {

            $.ajax({
                type: "post",
                url: "/HLL/GetById",
                data: "{receiptNum:'" + receiptNum + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    document.getElementById("txtreceiptNum").innerHTML = result[0].receiptNum;
                    document.getElementById("txtreceiptTypeNum").innerHTML = result[0].receiptTypeNum;
                    document.getElementById("txtexamineState").innerHTML = result[0].examineState;
                    document.getElementById("txtsupplierNum").innerHTML = result[0].supplierNum;
                    document.getElementById("txtsupplierName").innerHTML = result[0].supplierName;
                    document.getElementById("txtLoginName").innerHTML = result[0].LoginName;
                    document.getElementById("txtorderNo").innerHTML = result[0].orderNo;
                    document.getElementById("txtygNumber").innerHTML = result[0].ygNumber;
                    document.getElementById("txtcreateTime").innerHTML = time(result[0].createTime);
                    document.getElementById("txtphone").innerHTML = result[0].phone;
                    document.getElementById("txtcontents").innerHTML = result[0].contents;
                    document.getElementById("txtOperationMode").innerHTML = result[0].OperationMode;
                },
                error: function (ex) {
                    "Error" + ex.responseText
                }
            });
        }

        //入库的详情数据
        var pageIndex1 = 1;
        var pageSize1 = 5;
        var pageCount = 0;
        $(function () {
            PageList1();
            $("#btnBack1").click(function () {
                pageIndex1--;
                PageList1();
            });
            $("#btnNext1").click(function () {
                pageIndex1++;
                PageList1();
            });
        });
        function PageList1() {
            $.ajax({
                type: "post",
                url: "/HLL/Hu",
                data: "{pageIndex:" + pageIndex1 + ",pageSize:" + pageSize1 + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    pageCount = result.pageCount;
                    $("#tb3 tr").remove();
                    $.each(result.Datalist, function (index, data) {
                        $("#tb3").append("<tr><td>" + data.productName + "</td><td>" + data.Probarcode + "</td><td>" + data.Specifications + "</td><td>" + data.productNum + "</td><td>" + data.price + "</td><td>" + data.productCount + "</td><td>" + data.num + "</td><td>" + data.LocationName + "</td><tr>");
                    });
                }, error: function (ex) {
                    $("Error" + ex.responseText);
                }
            });
        }



    </script>



</body>
</html>

